@model BookingTickets.Models.ViewModels.IndexVM
@{
    ViewContext.HttpContext.Items["Title"] = "Index";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/lib/slick-carousel/slick.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/slick-carousel/slick-theme.min.css" />
}

@section Scripts{
    <script src="~/lib/slick-carousel/slick.min.js"></script>
}

<div id="movie-carousel">
    @foreach (var movie in Model.CarouselMovies)
    {
        <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
            <div class="movie-cover">
                <img class="rounded" src="~/cover/@movie.Cover" />
            </div>
        </a>
    }
</div>

<div id="most-viewed-movies" class="land-movie-list mt-3 d-flex flex-row flex-nowrap">
    <div class="list-header bg-danger rounded text-white d-flex align-items-center justify-content-center">
        <h2>Most Viewed</h2>
    </div>
    @foreach (var movie in Model.MostViewedMovies)
    {
        <div class="rounded item d-flex px-1 align-items-center justify-content-center" style="background-image: url(@Url.Content("~/cover/" + movie.Cover))">
            <a asp-controller="Home" class="text-truncate font-weight-bold text-white text-decoration-none" asp-action="MovieDetails" asp-route-id="@movie.Id">
                @movie.Title
            </a>
        </div>
    }
</div>

<div id="newest-movies" class="land-movie-list mt-3 d-flex flex-row flex-nowrap">
    <div class="list-header bg-primary rounded text-white d-flex align-items-center justify-content-center">
        <h2>Newest Movie</h2>
    </div>
    @foreach (var movie in Model.NewestMovies)
    {
        <div class="rounded item d-flex px-1 align-items-center justify-content-center" style="background-image: url(@Url.Content("~/cover/" + movie.Cover))">
            <a asp-controller="Home" class="text-truncate text-white font-weight-bold text-decoration-none" asp-action="MovieDetails" asp-route-id="@movie.Id">
                @movie.Title
            </a>
        </div>
     }
</div>

@foreach (var genre in Model.Genres)
{
    var param = new Dictionary<string, string>();
    param.Add("Form.SelectedGenre", genre.Id.ToString());
    <div id="newest-movies" class="port-movie-list mt-3 d-flex flex-row flex-nowrap">
        <a asp-controller="Home" class="list-header border text-center font-weight-bold rounded text-decoration-none text-dark" asp-action="Search" asp-all-route-data="param" >
            @genre.Name
        </a>
        @foreach (var movie in genre.Movies.Take(10))
        {
    <a asp-controller="Home" class="item rounded" asp-action="MovieDetails" asp-route-id="@movie.Id" style="background-image: url(@Url.Content("~/cover/" + movie.Cover))">
    </a>
        }
    </div>
}
