@page "{id?}"
@model BookingTickets.Pages.Admin.Movie.EditModel

@{
    ViewContext.HttpContext.Items["Title"] = "Edit Movie";
}


<div class="card">
    <div class="card-header">
        @(Model.Movie == null ? "Create" : "Edit") Movie
    </div>
    <div class="card-body">
        <form method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Movie.Title"></label>
                <input class="form-control" asp-for="Movie.Title" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Director"></label>
                <input class="form-control" asp-for="Movie.Director" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Cast"></label>
                <input class="form-control" asp-for="Movie.Cast" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rated"></label>
                <input class="form-control" asp-for="Movie.Rated" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration"></label>
                <input class="form-control" asp-for="Movie.Duration" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Language"></label>
                <input class="form-control" asp-for="Movie.Language" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.ReleaseDate"></label>
                <input class="form-control" id="releaseDate" name="Movie.ReleaseDate" value="@Model.Movie?.ReleaseDate.ToString("MM/dd/yyyy")" />
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Movie.Genres)
                @Html.ListBoxFor(m => m.Movie.Genres, new SelectList(Model.Genres, "Id", "Name"), new { @class = "form-control" })
            </div>

            <div class="mb-2">
                <button class="button-cloudinary-upload btn btn-primary mb-2" data-field="Movie.Cover" type="button">
                    Upload <label asp-for="Movie.Cover" class="mb-0"></label>
                </button><br/>
                    <img class="img-thumbnail w-25 @(Model.Movie.Cover == null ? "d-none" : "")" data-field="Movie.Cover" src="@Model.Movie.Cover" />
                <input type="hidden" asp-for="Movie.Cover" />
            </div>

            <div class="mb-2">
                <button class="button-cloudinary-upload btn btn-primary mb-2" data-field="Movie.LandscapeCover" type="button">
                    Upload  <label asp-for="Movie.LandscapeCover" class="mb-0"></label>
                </button>
                <br/>
               <img class="img-thumbnail w-50 @(Model.Movie.LandscapeCover == null ? "d-none" : "")" data-field="Movie.LandscapeCover" src="@Model.Movie.LandscapeCover" />
                <input type="hidden" asp-for="Movie.LandscapeCover" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.Trailer"></label>
                <input class="form-control" id="releaseDate" name="Movie.Trailer" value="@Model.Movie?.Trailer")" />
            </div>
            @if(Model.Movie.Trailer != null){
                <iframe 
                 
                src='@Model.Movie.Trailer' 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            }
            <div class="form-group">
                <label asp-for="Movie.Description"></label>
                <textarea asp-for="Movie.Description" class="form-control" id="description"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
</div>
@section Scripts{
<script src="https://media-library.cloudinary.com/global/all.js"></script>
    <script>
        jQuery().ready(function () {
            jQuery("#description").summernote({ height: 200 });
            jQuery("#releaseDate").datetimepicker({ timepicker: false, format: 'm/d/Y' });

            jQuery('.button-cloudinary-upload').click(function (e) {
                e.preventDefault();

                const field = jQuery(this).data('field');

                cloudinary.openMediaLibrary({ 
                    cloud_name: 'dqwgxcnh7',
                    multiple: false,
                    api_key: '486491292758638' },
                    {
                        insertHandler: (data) => {
                            const url = data.assets[0].secure_url;
                            jQuery(`input[name="${field}"]`).val(url);
                            jQuery(`img[data-field="${field}"]`).attr('src', url).removeClass('d-none');
                        }
                    }
                );
            });
        });
    </script>

}
